<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Genius_HistEntities" connectionString="metadata=res://*/WMP.csdl|res://*/WMP.ssdl|res://*/WMP.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.35.63.143:1521/CMADB;PASSWORD=pgenius;PERSIST SECURITY INFO=True;USER ID=PGENIUS&quot;" providerName="System.Data.EntityClient" />
    <add name="ResearchReportEntities" connectionString="metadata=res://*/ResearchReportEntities.csdl|res://*/ResearchReportEntities.ssdl|res://*/ResearchReportEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=10.35.63.25:1521/CMADB;password=filedb;persist security info=True;user id=filedb&quot;" providerName="System.Data.EntityClient" />
    <add name="OpenMarketEntities" connectionString="metadata=res://*/OpenMarketEntitys.csdl|res://*/OpenMarketEntitys.ssdl|res://*/OpenMarketEntitys.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.35.63.24:1521/CMADB;PASSWORD=openmarket;PERSIST SECURITY INFO=True;USER ID=OPENMARKET&quot;" providerName="System.Data.EntityClient" />
    <add name="CMAEntities" connectionString="metadata=res://*/CMA.csdl|res://*/CMA.ssdl|res://*/CMA.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.35.63.24:1521/cmadb;PASSWORD=cma;PERSIST SECURITY INFO=True;USER ID=CMA&quot;" providerName="System.Data.EntityClient" />
    <add name="SRDBEntities" connectionString="metadata=res://*/SRDB.csdl|res://*/SRDB.ssdl|res://*/SRDB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.35.63.24:1521/cmadb;PASSWORD=srdb;PERSIST SECURITY INFO=True;USER ID=SRDB&quot;" providerName="System.Data.EntityClient" />
    <add name="IPPEntities" connectionString="metadata=res://*/IPP.csdl|res://*/IPP.ssdl|res://*/IPP.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.35.63.24:1521/CMADB;PASSWORD=ipp;PERSIST SECURITY INFO=True;USER ID=IPP&quot;" providerName="System.Data.EntityClient" />
    <add name="CneNewEntities" connectionString="metadata=res://*/CnE_New.csdl|res://*/CnE_New.ssdl|res://*/CnE_New.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.35.63.24:1521/cmadb;PASSWORD=cne;PERSIST SECURITY INFO=True;USER ID=CNE&quot;" providerName="System.Data.EntityClient" />
    <add name="CNE_ZCXNewEntities" connectionString="metadata=res://*/CNE_ZCXNewEntities.csdl|res://*/CNE_ZCXNewEntities.ssdl|res://*/CNE_ZCXNewEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.35.63.24:1521/cmadb;PASSWORD=cne_zcx;PERSIST SECURITY INFO=True;USER ID=CNE_ZCX&quot;" providerName="System.Data.EntityClient" />
    <add name="ZCXEntities" connectionString="metadata=res://*/ZCX.csdl|res://*/ZCX.ssdl|res://*/ZCX.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.35.63.24:1521/CMADB;PASSWORD=zcx;PERSIST SECURITY INFO=True;USER ID=ZCX&quot;" providerName="System.Data.EntityClient" />
    <add name="BondDBEntities" connectionString="metadata=res://*/BondDB.csdl|res://*/BondDB.ssdl|res://*/BondDB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.35.63.24:1521/cmadb;PASSWORD=bonddb;USER ID=BONDDB&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>