<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StorageServiceImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.35.63.26:8080/storage/FileStorgeService"
                binding="basicHttpBinding" bindingConfiguration="StorageServiceImplServiceSoapBinding"
                contract="FileStorageService.StorageService" name="StorageServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>