<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
    <add name="Genius_HistEntities" connectionString="metadata=res://*/WMP.csdl|res://*/WMP.ssdl|res://*/WMP.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;PASSWORD=pgenius;PERSIST SECURITY INFO=True;USER ID=PGENIUS&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ResearchReportEntities" connectionString="metadata=res://*/ResearchReportEntities.csdl|res://*/ResearchReportEntities.ssdl|res://*/ResearchReportEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;password=filedb;persist security info=True;user id=filedb&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="IPPEntities" connectionString="metadata=res://*/IPP.csdl|res://*/IPP.ssdl|res://*/IPP.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;PASSWORD=ipp;PERSIST SECURITY INFO=True;USER ID=IPP&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="OpenMarketEntities" connectionString="metadata=res://*/OpenMarketEntitys.csdl|res://*/OpenMarketEntitys.ssdl|res://*/OpenMarketEntitys.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;PASSWORD=openmarket;PERSIST SECURITY INFO=True;USER ID=OPENMARKET&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CMAEntities" connectionString="metadata=res://*/CMA.csdl|res://*/CMA.ssdl|res://*/CMA.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;PASSWORD=cma;PERSIST SECURITY INFO=True;USER ID=CMA&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="SRDBEntities" connectionString="metadata=res://*/SRDB.csdl|res://*/SRDB.ssdl|res://*/SRDB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;PASSWORD=srdb;PERSIST SECURITY INFO=True;USER ID=SRDB&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="CneNewEntities" connectionString="metadata=res://*/CnE_New.csdl|res://*/CnE_New.ssdl|res://*/CnE_New.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;PASSWORD=cne;PERSIST SECURITY INFO=True;USER ID=CNE&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="CNE_ZCXNewEntities" connectionString="metadata=res://*/CNE_ZCXNewEntities.csdl|res://*/CNE_ZCXNewEntities.ssdl|res://*/CNE_ZCXNewEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;PASSWORD=cne_zcx;PERSIST SECURITY INFO=True;USER ID=CNE_ZCX&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ZCXEntities" connectionString="metadata=res://*/ZCX.csdl|res://*/ZCX.ssdl|res://*/ZCX.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;PASSWORD=zcx;PERSIST SECURITY INFO=True;USER ID=ZCX&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="BondDBEntities" connectionString="metadata=res://*/BondDB.csdl|res://*/BondDB.ssdl|res://*/BondDB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;PASSWORD=bonddb;PERSIST SECURITY INFO=True;USER ID=BONDDB&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="FileDBConStr" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=ggl-scan-pk0001.int.thomsonreuters.com)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = cmadb.int.thomsonreuters.com)));User Id=filedb;Password=filedb;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GeniusReportPath" value="D:\GeniusReport\WMP\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BankFilePath" value="D:\GeniusReport\WMP\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SolrServer" value="10.238.1.146" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

	<log4net>
		<appender name="MailAppender" type="log4net.Appender.SmtpAppender" xdt:Transform="InsertBefore(/configuration/log4net/root)">
			<to value="CMAProduction.Notification@thomsonreuters.com" />
			<from value="luna.Production@thomsonreuters.com" />
			<subject value="[PROD-Web Application Error] (Do not replay) VAV Server Exception" />
			<smtpHost value="164.179.13.19"/>
			<port value="25"/>
			<bufferSize value="512" />
			<lossy value="true" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR"/>
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<logger name="ThomsonReuters.VAV.Host" xdt:Transform="Insert">
			<level value="ERROR" />
			<appender-ref ref="MailAppender" />
		</logger>
	</log4net>
	
	<system.serviceModel>
		<client>
			<endpoint address="http://am.cp.stc.reuint.com:80/aaa/services/AAA-ASUserManagementPort"
			  binding="basicHttpBinding" bindingConfiguration="AAA-ASUserManagementBinding"
			  contract="UserSetting.AAAASUserManagement" name="AAA-ASUserManagementPort"
					  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://10.238.63.11:8080/storage/FileStorgeService"
               binding="basicHttpBinding" bindingConfiguration="StorageServiceImplServiceSoapBinding"
               contract="FileStorageService.StorageService" name="StorageServiceImplPort"
               xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		</client>
	</system.serviceModel>

	<system.web>
		<compilation debug="false" targetFramework="4.0" xdt:Transform="SetAttributes"/>
	</system.web>
</configuration>