<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="143FileDB"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.143)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));USER ID=filedb;Password=filedb;"/>
    <add key="ProBondDB"
  value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.143)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=bonddb;Password=bonddb;"/>
    <add key="SolrServer" value="10.35.63.8" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="VAVEntities" connectionString="metadata=res://*/VAVTools.csdl|res://*/VAVTools.ssdl|res://*/VAVTools.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.35.63.10;initial catalog=VAV;persist security info=True;user id=sa;password=p@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="VAVEntities" connectionString="metadata=res://*/VAVTools.csdl|res://*/VAVTools.ssdl|res://*/VAVTools.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=10.35.63.24:1521/CMADB;password=scheduler;persist security info=True;user id=SCHEDULER&quot;" providerName="System.Data.EntityClient" />
    <add name="IPPEntities" connectionString="metadata=res://*/IPP.csdl|res://*/IPP.ssdl|res://*/IPP.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.35.63.24:1521/CMADB;PASSWORD=ipp;PERSIST SECURITY INFO=True;USER ID=IPP&quot;" providerName="System.Data.EntityClient" />
    <add name="BondDBEntities" connectionString="metadata=res://*/BondDB.csdl|res://*/BondDB.ssdl|res://*/BondDB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=10.35.63.24:1521/CMADB;password=bonddb;persist security info=True;user id=BONDDB&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
      <object name="SyncNewBondList" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncNewBondList, VAV.Scheduler" />
      </object>
      <object name="SyncEJV" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncEJV, VAV.Scheduler" />
      </object>
      <object name="SyncEJV2" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncEJV2, VAV.Scheduler" />
      </object>
      <object name="ChinaJciSyncJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.ChinaJciSyncJob, VAV.Scheduler" />
      </object>
      <object name="CofeedSyncJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.CofeedSyncJob, VAV.Scheduler" />
      </object>
      <object name="GdtMaxSyncJbo" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.GdtMaxSyncJbo, VAV.Scheduler" />
      </object>
      <object name="GeniusSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.GeniusSyncJob, VAV.Scheduler" />
      </object>
      <object name="OpenMarketSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.OpenMarketSyncJob, VAV.Scheduler" />
      </object>
      <object name="SHCVSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SHCVSyncJob, VAV.Scheduler" />
      </object>
      <object name="CFETSSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.CFETSSyncJob, VAV.Scheduler" />
      </object>
      <object name="CCDCSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.CCDCSyncJob, VAV.Scheduler" />
      </object>
      <object name="ZCXSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.ZCXSyncJob, VAV.Scheduler" />
      </object>
      <object name="FileSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.FileSyncJob, VAV.Scheduler" />
      </object>
      <object name="BankFinFileSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.BankFinFileSyncJob, VAV.Scheduler" />
      </object>
      <object name="CfpDiscFileSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.CfpDiscFileSyncJob, VAV.Scheduler" />
      </object>
      <object name="FinPrdFileSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.FinPrdFileSyncJob, VAV.Scheduler" />
      </object>
      <object name="ZcxRateFileSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.ZcxFileSyncJob, VAV.Scheduler" />
      </object>
      <object name="BondMiscSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.BondMiscSyncJob, VAV.Scheduler" />
      </object>
      <object name="CashflowsSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.CashflowsSyncJob, VAV.Scheduler" />
      </object>
      <object name="DsosEJVSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.DsosEJVSyncJob, VAV.Scheduler" />
        <property name="Description" value="DSOS synchronization for bonds information." />
      </object>
      <object name="File2IPPSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.FileToIppSyncJob, VAV.Scheduler" />
      </object>
      <object name="SyncCusteel" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncCusteel, VAV.Scheduler" />
      </object>
      <object name="SyncFxNews" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncFxNews, VAV.Scheduler" />
      </object>
      <object name="SyncChinaSecurities" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncChinaSecurities, VAV.Scheduler" />
      </object>
      <object name="SyncLongZhong" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncLongZhong, VAV.Scheduler" />
      </object>
      <object name="SyncCneZCX" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncCneZCX, VAV.Scheduler" />
      </object>
      <object name="SyncZCX" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncZCX, VAV.Scheduler" />
      </object>
      <object name="SyncMysteel" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncMysteel, VAV.Scheduler" />
      </object>
      <object name="SyncNational" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncNational, VAV.Scheduler" />
      </object>
      <object name="SyncSdLocalRefinery" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncSdLocalRefinery, VAV.Scheduler" />
      </object>
      <object name="SyncSmm" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncSmm, VAV.Scheduler" />
      </object>
      <object name="SyncTROilInventory" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncTROilInventory, VAV.Scheduler" />
      </object>
      <object name="SyncDeleteBond" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="VAV.Scheduler.Jobs.SyncDeleteBond, VAV.Scheduler" />
      </object>
      <object id="TriggerDeleteBond" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncDeleteBond" />
        <property name="startDelay" value="300s" />
        <property name="repeatInterval" value="5h" />
      </object>
      <object id="TriggerCusteel" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncCusteel" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="4h" />
      </object>
      <object id="TriggerFxNews" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncFxNews" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="24h" />
      </object>
      <object id="TriggerChinaSecurities" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncChinaSecurities" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="2h" />
      </object>
      <object id="TriggerLongZhong" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncLongZhong" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="4h" />
      </object>
      <object id="TriggerCneZCX" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncCneZCX" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="5h" />
      </object>
      <object id="TriggerZCX" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncZCX" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="5h" />
      </object>
      <object id="TriggerMysteel" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncMysteel" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="4h" />
      </object>
      <object id="TriggerNational" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncNational" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="24h" />
      </object>
      <object id="TriggerSdLocalRefinery" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncSdLocalRefinery" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="24h" />
      </object>
      <object id="TriggerSmm" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncSmm" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="4h" />
      </object>
      <object id="TriggerTROilInventory" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncTROilInventory" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="24h" />
      </object>
      <object id="TriggerGdtMax" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="GdtMaxSyncJbo" />
        <property name="startDelay" value="100s" />
        <property name="repeatInterval" value="4h" />
      </object>
      <object id="TriggerCofeed" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="CofeedSyncJob" />
        <property name="startDelay" value="20s" />
        <property name="repeatInterval" value="4h" />
      </object>
      <object id="TriggerChinaJci" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="ChinaJciSyncJob" />
        <property name="startDelay" value="30s" />
        <property name="repeatInterval" value="4h" />
      </object>
      <object id="TriggerOpenMarket" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="OpenMarketSync" />
        <property name="startDelay" value="0s" />
        <property name="repeatInterval" value="2h" />
      </object>
      <object id="TriggerCCDC" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="CCDCSync" />
        <property name="startDelay" value="20s" />
        <property name="repeatInterval" value="24h" />
      </object>
      <object id="TriggerCFETS" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="CFETSSync" />
        <property name="startDelay" value="160s" />
        <property name="repeatInterval" value="24h" />
      </object>
      <object id="TriggerSHCV" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SHCVSync" />
        <property name="startDelay" value="170s" />
        <property name="repeatInterval" value="24h" />
      </object>
      <object id="TriggerGenius" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="GeniusSync" />
        <property name="startDelay" value="30s" />
        <property name="repeatInterval" value="2h" />
      </object>
      <object id="TriggerFileData" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="FileSync" />
        <property name="startDelay" value="5s" />
        <property name="repeatInterval" value="2h" />
      </object>
      <object id="BankFinFileSyncTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="BankFinFileSync" />
        <property name="startDelay" value="6s" />
        <property name="repeatInterval" value="2h" />
      </object>
      <object id="CfpDiscFileSyncTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="CfpDiscFileSync" />
        <property name="startDelay" value="70s" />
        <property name="repeatInterval" value="2h" />
      </object>
      <object id="FinPrdFileSyncTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="FinPrdFileSync" />
        <property name="startDelay" value="80s" />
        <property name="repeatInterval" value="2h" />
      </object>
      <object id="ZcxRateFileSyncTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="ZcxRateFileSync" />
        <property name="startDelay" value="90s" />
        <property name="repeatInterval" value="2h" />
      </object>
      <object id="TriggerBondMisc" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="BondMiscSync" />
        <property name="startDelay" value="100s" />
        <property name="repeatInterval" value="2h" />
      </object>
      <object id="TriggerBond" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="DsosEJVSync" />
        <property name="startDelay" value="110s" />
        <property name="repeatInterval" value="3h" />
      </object>
      <object id="TriggerRunEvery2h_3" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="CashflowsSync" />
        <property name="startDelay" value="130s" />
        <property name="repeatInterval" value="3h" />
      </object>
      <object id="TriggerFileToIPP" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="File2IPPSync" />
        <property name="startDelay" value="140s" />
        <property name="repeatInterval" value="1h" />
      </object>
      <object id="TriggerSyncEJVinput" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncEJV" />
        <property name="startDelay" value="150s" />
        <property name="repeatInterval" value="4h" />
      </object>
      <object id="TriggerSyncEJVDsos" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncEJV2" />
        <property name="startDelay" value="160s" />
        <property name="repeatInterval" value="4h" />
      </object>
      <object id="TriggerSyncNewBondList" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SyncNewBondList" />
        <property name="startDelay" value="20s" />
        <property name="repeatInterval" value="4h" />
      </object>

      <object id="VavScheduler" type="Spring.Scheduling.Quartz.SchedulerFactoryObject, Spring.Scheduling.Quartz">
        <property name="QuartzProperties">
          <dictionary>
            <entry key="quartz.scheduler.instanceName" value="VavScheduler" />
            <!--threadPool-->
            <entry key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
            <entry key="quartz.threadPool.threadCount" value="10" />
            <entry key="quartz.threadPool.threadPriority" value="Normal" />
            <entry key="quartz.jobStore.misfireThreshold" value="60000" />
            <!--JobStores-->
            <!--<entry key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
            <entry key="quartz.jobStore.dataSource" value="VavScheduler" />
            <entry key="quartz.jobStore.tablePrefix" value="[scheduler].QRTZ_" />
            <entry key="quartz.jobStore.useProperties" value="true" />
            <entry key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz" />
            <entry key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
            <entry key="quartz.dataSource.VavScheduler.connectionString" value="Server=10.35.63.11;Database=VAV;Uid=sa;Pwd=p@ssw0rd" />
            <entry key="quartz.dataSource.VavScheduler.provider" value="SqlServer-20" />
            -->
            <!--exporter-->
            <!--
            <entry key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz" />
            <entry key="quartz.scheduler.exporter.port" value="5561" />
            <entry key="quartz.scheduler.exporter.bindName" value="QuartzScheduler" />
            <entry key="quartz.scheduler.exporter.channelType" value="tcp" />-->
          </dictionary>
        </property>
        <property name="AutoStartup" value="false" />
        <property name="triggers">
          <list>
            <!--
            <ref object="TriggerBondMisc"/>
            <ref object="TriggerBond"/>
            <ref object="TriggerRunEvery2h_3"/>-->
            <ref object="TriggerSyncEJVinput"/>
            <ref object="TriggerSyncEJVDsos"/>
            <ref object="TriggerFileData" />
            <ref object="BankFinFileSyncTrigger" />
            <ref object="CfpDiscFileSyncTrigger" />
            <ref object="FinPrdFileSyncTrigger" />
            <ref object="ZcxRateFileSyncTrigger" />
            <ref object="TriggerFileToIPP" />
            <ref object="TriggerGenius" />
            <ref object="TriggerOpenMarket" />
            <ref object="TriggerCCDC" />
            <ref object="TriggerCFETS" />
            <ref object="TriggerSHCV" />
            <ref object="TriggerGdtMax" />
            <ref object="TriggerCofeed" />
            <ref object="TriggerChinaJci" />
            <ref object="TriggerCusteel" />
            <ref object="TriggerFxNews" />
            <ref object="TriggerLongZhong" />
            <!--<ref object="TriggerMysteel" />-->
            <ref object="TriggerNational" />
            <ref object="TriggerSdLocalRefinery" />
            <ref object="TriggerSmm" />
            <ref object="TriggerTROilInventory" />
            <ref object="TriggerCneZCX" />
            <ref object="TriggerChinaSecurities" />
            <ref object="TriggerZCX" />
            <ref object="TriggerSyncNewBondList" />
            <ref object="TriggerDeleteBond" />
          </list>
        </property>
      </object>
    </objects>
  </spring>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.FileAppender">
      <file value="Log\log-error.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="DebugFileAppender" type="log4net.Appender.FileAppender">
      <file value="Log\log-debug.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="InfoMailToQing" type="VAV.Scheduler.HtmlSmtpAppender, VAV.Scheduler">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <to value="shuaishuaiwang1@thomsonreuters.com" />
      <from value="scheduler.AINT2.VAV@thomsonreuters.com" />
      <subject value="test[Scheduler] [AINT2-VAV] Scheduler Job Successed!" />
      <smtpHost value="mailhub.tfn.com" />
      <port value="25" />
      <bufferSize value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>
    <appender name="ErrorMailToQing" type="VAV.Scheduler.HtmlSmtpAppender, VAV.Scheduler">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <to value="shuaishuaiwang1@thomsonreuters.com" />
      <from value="scheduler.AINT2.VAV@thomsonreuters.com" />
      <subject value="test[Scheduler] [AINT2-VAV] Scheduler Job Failed!" />
      <smtpHost value="mailhub.tfn.com" />
      <port value="25" />
      <bufferSize value="1" />
      <priority value="High" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="ErrorFileAppender" />
    </root>
    <logger name="VAVScheduler">
      <level value="DEBUG" />
      <appender-ref ref="DebugFileAppender" />
      <appender-ref ref="InfoMailToQing" />
      <appender-ref ref="ErrorMailToQing" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="FixedIncomeAnalyticsEndpoint" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="655360000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="StorageServiceImplServiceSoapBinding" messageEncoding="Mtom" maxReceivedMessageSize="640000000" />
        <binding name="StorageServiceImplServiceSoapBinding1" messageEncoding="Mtom" maxReceivedMessageSize="640000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.122.244.78/tracsweb/plugin.svc/FixedIncomeMonitor/soapcbo" binding="wsHttpBinding" bindingConfiguration="FixedIncomeAnalyticsEndpoint" contract="TRACS.IFixedIncomeAnalytics" name="FixedIncomeAnalyticsEndpoint" />
      <endpoint address="http://10.35.63.28:8080/storage/FileStorgeService" binding="basicHttpBinding" bindingConfiguration="StorageServiceImplServiceSoapBinding" contract="IME_SS.StorageService" name="StorageServiceImplPort" />
      <endpoint address="http://10.35.63.26:8080/storage/FileStorgeService" binding="basicHttpBinding" bindingConfiguration="StorageServiceImplServiceSoapBinding1" contract="PROD_SS.StorageService" name="StorageServiceImplPort1" />
    </client>
  </system.serviceModel>
</configuration>