<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="VAVEntities" connectionString="metadata=res://*/VAVTools.csdl|res://*/VAVTools.ssdl|res://*/VAVTools.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;password=scheduler;persist security info=True;user id=SCHEDULER&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="IPPEntities" connectionString="metadata=res://*/IPP.csdl|res://*/IPP.ssdl|res://*/IPP.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;PASSWORD=ipp;PERSIST SECURITY INFO=True;USER ID=IPP&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="BondDBEntities" connectionString="metadata=res://*/BondDB.csdl|res://*/BondDB.ssdl|res://*/BondDB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;password=bonddb;persist security info=True;user id=BONDDB&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <!--Monitoring Website server or not-->
    <add key="blMonitorWebsite" value="true"/>
    <!--Monitoring Website address-->
    <add key="websiteUrl" value="http://172.16.128.157/,http://172.16.128.150/, http://172.16.128.151"/>
    <!--Monitoring DB server or not-->
    <add key="blMonitorDB" value="true"/>
    <!--Monitoring DB server address-->
    <add key="db1" value="Server=172.16.128.148;Database=VAV;Pooling=true;Uid=sa;Pwd=p@ssw0rd"/>

    <!--Monitoring local machine windows event, auto detecting environment.machineName if value is empty-->
    <add key="blWindowsEventLog" value="true"/>
    <!--Machine names, two app server and two db server-->
    <add key="machine1" value="HKGP-RTCN-DB01A"/>
    <add key="machine2" value="HKGP-RTCN-DB01B"/>
    <add key="machine3" value="HKGP-RTCN-DB02B"/>
    <add key="machine4" value="HKGP-RTCN-DBN1A"/>
    <!--Username and password to login to above machines, currently we assume all username and password are same for all four machines.-->
    <add key="rpcUsername" value="Reutadmin"/>
    <add key="rpcPassword" value="Moderdata9"/>

    <!--Monitoring AAAASUserManagement service or not-->
    <add key="blMonitorAaaWsdl" value="true"/>
    <!--Monitoring AAAASUserManagement service address-->
    <add key="aAAWsdlUrl" value="http://am.cp.stc.reuint.com:80/aaa/services/AAA-ASUserManagementPort?wsdl"/>

    <!--Monitoring DSOS connection or not-->
    <add key="blMonitorDsos" value="true"/>
    <!--Monitoring DSOS connection address-->
    <add key="dsosDb" value="Driver={Adaptive Server Enterprise};server=164.179.108.15;port=4100;uid=reporter;password=reporter;"/>

    <!--Monitoring RMDS connection or not-->
    <add key="blMonitorRmds" value="true"/>
    <!--Monitoring RMDS connection address-->
    <add key="rmdsIpAddress" value="164.179.108.183"/>
    <add key="rmdsPortNumber" value="8101"/>

    <!--Monitoring time internal-->
    <add key="windowsEventTimeIntervalMinute" value="5"/>
    <add key="GeniusReportSourcePath" value="ftp://10.35.63.144/juling/Files"/>
    <add key="GeniusReportFtpUser" value="Luna\Administrator"/>
    <add key="GeniusReportFtpPassword" value="Welcome2"/>
    <add key="GeniusReportDestPath1" value="\\\\HKGP-RTCN-DB01A\\GeniusReport\\WMP"/>
    <add key="GeniusReportDestPath2" value="\\\\HKGP-RTCN-DB01B\\GeniusReport\\WMP"/>
    <add key="SolrServer" value="10.238.1.146" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="143FileDB"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.143)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));USER ID=filedb;Password=filedb;"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ProBondDB" value="DATA SOURCE=ggl-scan-pk0001.int.thomsonreuters.com:1521/cmadb.int.thomsonreuters.com;password=bonddb;user id=BONDDB;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <log4net>
    <appender name="InfoMailAppender" type="VAV.Scheduler.HtmlSmtpAppender, VAV.Scheduler" xdt:Transform="InsertBefore(/configuration/log4net/root)">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <to value="CMAProduction.Notification@thomsonreuters.com" />
      <from value="scheduler.CMA_PROD_HK152.vav@thomsonreuters.com" />
      <subject value="[Scheduler] [CMA-PROD-HK152] Scheduler Job Successed!" />
      <smtpHost value="mailhub.tfn.com"/>
      <port value="25"/>
      <bufferSize value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>
    <appender name="ErrorMailAppender" type="VAV.Scheduler.HtmlSmtpAppender, VAV.Scheduler" xdt:Transform="InsertBefore(/configuration/log4net/root)">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <to value="CMAProduction.Notification@thomsonreuters.com" />
      <from value="scheduler.CMA_PROD_HK152.vav@thomsonreuters.com" />
      <subject value="[Scheduler] [CMA-PROD-HK152] Scheduler Job Failed!" />
      <smtpHost value="mailhub.tfn.com"/>
      <port value="25"/>
      <bufferSize value="1" />
      <priority value="High"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>
    <logger name="VAVScheduler" xdt:Transform="Replace">
      <level value="INFO" />
      <appender-ref ref="InfoMailAppender"/>
      <appender-ref ref="ErrorMailAppender"/>
    </logger>
  </log4net>

  <spring>
    <objects xmlns:s="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
      <s.object id="VavScheduler">
        <s.property name="QuartzProperties">
          <s.dictionary>
            <s.entry key="quartz.dataSource.VavScheduler.connectionString"
								 value="Server=172.16.128.148;Database=VAV;Pooling=true;Uid=sa;Pwd=p@ssw0rd;"
								 xdt:Transform="SetAttributes"
								 xdt:Locator="XPath(/configuration/spring/s:objects/s:object[@id='VavScheduler']/s:property/s:dictionary/s:entry[@key='quartz.dataSource.VavScheduler.connectionString'])"/>
          </s.dictionary>
        </s.property>
      </s.object>
    </objects>
  </spring>

  <system.serviceModel>
    <client>
      <endpoint address="http://172.27.29.11/TRACSweb/FixedIncomeAnalytics.svc"
          name="FixedIncomeAnalyticsEndpoint" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://10.238.63.11:8080/storage/FileStorgeService"
          name="StorageServiceImplPort1" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>