@{
    Layout = "~/Views/Shared/YaozhiLayout.cshtml";
    ViewBag.Title = "Shanghai Yaozhi";
}

<div class="WrapFull">
    <div style="margin:30px auto; font-size:36px;font-weight:bold;text-align:center">
        <img src="~/Content/images/yaozhi.jpg" height="60px" />&nbsp;&nbsp;Shanghai Yaozhi
    </div>
    <div id="PopEventContainer">
        <div class="content2">
            <table cellspacing="0">
                <tr>
                    <td style="width:22%;vertical-align:top;border:2px solid black;">
                        <div id="tabs" style="min-width: 260px;">
                            <!-- tabs -->
                            <div class="homeNavHeader-pts"><b style="margin-left:8px;">PRODUCTS：</b></div>
                            <ul class="css-tabs" style="height:100%;margin:0;">
                                <li><a href="#tab1" id="t1" style="overflow: hidden;" title="Yaozhi Treasury Bonds & Futures Fund I Factsheet">Yaozhi Treasury Bonds & Futures Fund</a></li>
                                <li><a href="#tab2" id="t2" style="overflow: hidden;" title="Yaozhi Aspiring Fund (CRCTrust Xijin IV)">Yaozhi Aspiring Fund (CRCTrust Xijin IV)</a></li>
                                <li><a href="#tab3" id="t3" style="overflow: hidden;" title="Yaozhi Multi Strategy Treasuries & Futures Fund">Yaozhi Multi Strategy Treasuries & Futures Fund</a></li>
                                <li><a href="#tab4" id="t4" style="overflow: hidden;" title="Yaozhi Tangting Income Fund">Yaozhi Tangting Income Fund</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="colorBlockV2" style="margin:-2px 8px;">
                            <!-- panes -->
                            <div class="css-panes">
                                <div id="t1">
                                    <table class="hzonth" style="border:none;">
                                        <tr>
                                            <th colspan="2" style="font-size:18px;text-align:center;padding:10px;">
                                                <b class="blueC">Yaozhi Treasury Bonds & Futures Fund I Factsheet</b>
                                                <a href="#">
                                                    <img onclick="OpenProd('LP68238078')" src="~/Content/images/koidn.ico"
                                                         style="float: right; margin-right: 10px; margin-top: 7px" />
                                                </a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:12%;">Term</th>
                                            <td>3 Years (November 2013 - November 2016)</td>
                                        </tr>
                                        <tr>
                                            <th>Term Structure</th>
                                            <td>Open to subscription and redemption quarterly, with a lockup period of 6 months since inception</td>
                                        </tr>
                                        <tr>
                                            <th>Inception Date</th>
                                            <td>6, November, 2013</td>
                                        </tr>
                                        <tr>
                                            <th>Advisor</th>
                                            <td>Shanghai Yaozhi Asset Management Co. LLP</td>
                                        </tr>
                                        <tr>
                                            <th>Fund Managers</th>
                                            <td>Xiong Yun, Wang Yingfeng</td>
                                        </tr>
                                        <tr>
                                            <th>Issuer</th>
                                            <td>Caitong Fund Management Co. LTD	</td>
                                        </tr>
                                        <tr>
                                            <th>Custodian</th>
                                            <td>China Everbright Bank Co. LTD</td>
                                        </tr>
                                        <tr>
                                            <th>Brokers</th>
                                            <td>China International Capital Co. LTD, CEA Futures Brokerage Co. LTD</td>
                                        </tr>
                                        <tr>
                                            <th>Fund Size</th>
                                            <td>Minimum 30 million RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Fees & Expenses</th>
                                            <td>
                                                Management Fee: 1.6%
                                                Custodial Fee: 0.2%
                                                Redemption Fee: 0%
                                                Performance Fee: 20% of the annual return in excess of the hurdle rate 3%
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Investor Suitability</th>
                                            <td>Investors with moderate but stable return expectation and low risk tolerance</td>
                                        </tr>
                                        <tr>
                                            <th>Minimum Initial Purchase</th>
                                            <td>1 million RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Minimum Additional Purchase </th>
                                            <td>100,000 RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Investment Objective</th>
                                            <td>The Fund seeks maximum total return, consistent with preservation of capital and prudent investment management.</td>
                                        </tr>
                                        <tr>
                                            <th>Investment Objective</th>
                                            <td>The Fund seeks maximum total return, consistent with preservation of capital and prudent investment management.</td>
                                        </tr>
                                        <tr>
                                            <th>Investment Strategy</th>
                                            <td>The fund seeks to achieve its investment objective by investing under normal circumstances at least 70% of its total asset in a diversified portfolio of low risk fixed income instruments with maturities less than one year to generate a moderate and stable return.  And the fund enhances its return by discovering and profiting from the arbitrage opportunities generated by the inefficiency of China fixed income market.  These arbitrage opportunities include yield arbitrage between money market rates, treasury bonds, and treasury bond futures, calendar arbitrage between treasury bond futures, and spot-future arbitrage between the prices of deliverable treasury bonds and treasury bond futures.</td>
                                        </tr>
                                        <tr>
                                            <th>Permitted Asset Classes</th>
                                            <td>China treasury bonds, treasury bond futures, treasury bond ETFs, credit bonds with triple A or above ratings, money market funds, and cash</td>
                                        </tr>
                                    </table>
                                </div>
                                <div id="t2">
                                    <table class="hzonth" style="border:none;">
                                        <tr>
                                            <th colspan="2" style="font-size:18px;text-align:center;padding:10px;">
                                                <b class="blueC">Yaozhi Aspiring Fund (CRCTrust Xijin IV)</b>
                                                <a href="#">
                                                    <img onclick="OpenProd('LP68238085')" src="~/Content/images/koidn.ico"
                                                         style="float: right; margin-right: 10px; margin-top: 7px" />
                                                </a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:12%;">Term</th>
                                            <td>1 Years (November 2013 - November 2014)</td>
                                        </tr>
                                        <tr>
                                            <th>Term Structure</th>
                                            <td>Close-end fund</td>
                                        </tr>
                                        <tr>
                                            <th>Inception Date</th>
                                            <td>12, November, 2013</td>
                                        </tr>
                                        <tr>
                                            <th>Advisor</th>
                                            <td>Shanghai Yaozhi Asset Management Co. LLP</td>
                                        </tr>
                                        <tr>
                                            <th>Fund Managers</th>
                                            <td>Wang Yingfeng </td>
                                        </tr>
                                        <tr>
                                            <th>Issuer</th>
                                            <td>China Resources SZITIC Trust Co.</td>
                                        </tr>
                                        <tr>
                                            <th>Custodian</th>
                                            <td>China Merchants Bank</td>
                                        </tr>
                                        <tr>
                                            <th>Brokers</th>
                                            <td>Tebon Securities Co.</td>
                                        </tr>
                                        <tr>
                                            <th>Fund Size</th>
                                            <td>40 million RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Fees & Expenses</th>
                                            <td>
                                                Management Fee: 1.0%
                                                Custodial Fee: 0.5%
                                                Redemption Fee: 0%
                                                Performance Fee: 50% of the annual return in excess of the hurdle rate 10%

                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Investor Suitability</th>
                                            <td>
                                                Investors with moderate but stable return expectation and low risk tolerance
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Minimum Initial Purchase</th>
                                            <td>1 million RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Minimum Additional Purchase </th>
                                            <td>100,000 RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Investment Objective</th>
                                            <td>The Fund seeks maximum total return, consistent with preservation of capital and prudent investment management.</td>
                                        </tr>
                                        <tr>
                                            <th>Investment Strategy</th>
                                            <td>
                                                The fund seeks to achieve its investment objective by investing in high yield exchange-traded corporate bonds in a diversified portfolio.  Corporate bond yields currently are at their multi-year high levels and we'll effectively manage the fund's durating risk via limiting the portfolio's overall duration.
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Permitted Asset Classes</th>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                                <div id="t3">
                                    <table class="hzonth" style="border:none;">
                                        <tr>
                                            <th colspan="2" style="font-size:18px;text-align:center;padding:10px;">
                                                <b class="blueC">Yaozhi Multi Strategy Treasuries & Futures Fund</b>
                                                <a href="#">
                                                    <img onclick="OpenProd('LP68259646')" src="~/Content/images/koidn.ico"
                                                         style="float: right; margin-right: 10px; margin-top: 7px" />
                                                </a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:12%;">Term</th>
                                            <td>1 Year </td>
                                        </tr>
                                        <tr>
                                            <th>Term Structure</th>	
                                            <td>Close-end fund</td>
                                        </tr>
                                        <tr>
                                            <th>Inception Date</th>
                                            <td>4, April, 2014</td>
                                        </tr>
                                        <tr>
                                            <th>Advisor</th>
                                            <td>Shanghai Yaozhi Asset Management Co. LLP</td>
                                        </tr>
                                        <tr>
                                            <th>Fund Managers</th>
                                            <td>Xiong Yun</td>
                                        </tr>
                                        <tr>
                                            <th>Issuer</th>
                                            <td>Caitong Fund Management Co., Ltd</td>
                                        </tr>
                                        <tr>
                                            <th>Custodian</th>
                                            <td>China Everbright Bank</td>
                                        </tr>
                                        <tr>
                                            <th>Brokers</th>
                                            <td>China International Capital Co. ;  China Merchants Futures Co.</td>
                                        </tr>
                                        <tr>
                                            <th>Fund Size</th>
                                            <td>102 million RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Fees & Expenses</th>
                                            <td>Management Fee: 1.2%
                                                Custodial Fee: 0.2%
                                                Redemption Fee: 0%
                                                Performance Fee: 20% of the annual return in excess of the hurdle rate 10%
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Investor Suitability</th>
                                            <td>Investors with moderate but stable return expectation and low risk tolerance</td>
                                        </tr>
                                        <tr>
                                            <th>Minimum Initial Purchase</th>
                                            <td>1 million RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Minimum Additional Purchase </th>
                                            <td>10,000 RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Investment Objective</th>
                                            <td>The Fund seeks maximum total return, consistent with preservation of capital and prudent investment management.</td>
                                        </tr>
                                        <tr>
                                            <th>Investment Strategy</th>
                                            <td>The Yaozhi Multi Strategy Treasury Bonds & Futures Fund seeks to achieve its investment objective by investing under normal circumstances most of its total asset in a diversified portfolio of low risk fixed income instruments with maturities less than one year to generate a moderate and stable return.  And the fund enhances its return by discovering and profiting from the arbitrage opportunities generated by the inefficiency of China fixed income market.  These arbitrage opportunities include yield arbitrage between money market rates, treasury bonds, and treasury bond futures, calendar arbitrage between treasury bond futures, and spot-future arbitrage between the prices of deliverable treasury bonds and treasury bond futures.</td>
                                        </tr>
                                        <tr>
                                            <th>Permitted Asset Classes</th>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                                
                                <div id="t4">
                                    <table class="hzonth" style="border:none;">
                                        <tr>
                                            <th colspan="2" style="font-size:18px;text-align:center;padding:10px;">
                                                <b class="blueC">Yaozhi Tangting Income Fund</b>
                                                <a href="#">
                                                    <img onclick="OpenProd('LP68271980')" src="~/Content/images/koidn.ico"
                                                         style="float: right; margin-right: 10px; margin-top: 7px" />
                                                </a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:12%;">Term</th>
                                            <td>50 Years </td>
                                        </tr>
                                        <tr>
                                            <th>Term Structure</th>
                                            <td>Last work day of every month for the Open Day, and open to subscription and redemption. </td>
                                        </tr>
                                        <tr>
                                            <th>Inception Date</th>
                                            <td>21, April, 2014</td>
                                        </tr>
                                        <tr>
                                            <th>Advisor</th>
                                            <td>Shanghai Yaozhi Asset Management Co. LLP</td>
                                        </tr>
                                        <tr>
                                            <th>Fund Managers</th>
                                            <td>Wang Xiaojian</td>
                                        </tr>
                                        <tr>
                                            <th>Issuer</th>
                                            <td>Shanghai Yaozhi Asset Management Co. LLP</td>
                                        </tr>
                                        <tr>
                                            <th>Custodian</th>
                                            <td>China Merchants Securities Co.</td>
                                        </tr>
                                        <tr>
                                            <th>Brokers</th>
                                            <td>China Merchants Securities Co. ; CEA Futures Brokerage Co.</td>
                                        </tr>
                                        <tr>
                                            <th>Fund Size</th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Fees & Expenses</th>
                                            <td>
                                                Management Fee: 1.0%<br />
                                                Custodian Fee: 0.2%<br />
                                                Redemption Fee: 0-1%<br />
                                                Performance Fee: 20% of the annual return in excess of the hurdle rate 6%
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Investor Suitability</th>
                                            <td>Investors with moderate but stable return expectation and low risk tolerance</td>
                                        </tr>
                                        <tr>
                                            <th>Minimum Initial Purchase</th>
                                            <td>1 million RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Minimum Additional Purchase </th>
                                            <td>10,000 RMB</td>
                                        </tr>
                                        <tr>
                                            <th>Investment Objective</th>
                                            <td>The fund aims to obtain sustainable returns via investing in short- to medium-term bonds. The fund manager will also use financial derivatives, such as treasury futures and stock index futures, to enhance the fund's yield performance.</td>
                                        </tr>
                                        <tr>
                                            <th>Investment Strategy</th>
                                            <td>The fund aims to obtain sustainable returns via investing in short- to medium-term bonds. The fund manager will also use financial derivatives, such as treasury futures and stock index futures, to enhance the fund's yield performance.</td>
                                        </tr>
                                        <tr>
                                            <th>Permitted Asset Classes</th>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>


            <!-- activate tabs with JavaScript -->
            <script>
                $(function () {
                    // :first selector is optional if you have only one tabs on the page
                    $(".css-tabs").tabs(".css-panes > div");
                    JET.init({ ID: "VAVWeb"});
                });

                function OpenProd(prodric) {
                    var data = {
                        target: "popup",
                        // open a popup window
                        location: {
                            x: 200,
                            y: 100,
                            width: 600,
                            height: 400
                        },
                        name: "Quote Object",
                        // open a Quote Object
                        entities: [
                            {
                                type: "COMP",
                                "RIC": prodric
                            }
                        ]
                    };
                    JET.navigate(data);

                }
            </script>
            <div style="clear:both;"></div>
        </div>







    </div><!-- CONTENT2 -->

</div>

