@{
    Layout = "~/Views/Shared/YaozhiLayout.cshtml";
    ViewBag.Title = "上海耀之";
}

<div class="WrapFull">
    <div style="margin:30px auto; font-size:36px;font-weight:bold;text-align:center">
        <img src="~/Content/images/yaozhi.jpg" height="60px" />&nbsp;&nbsp;上海耀之
    </div>

    <div id="PopEventContainer">
        <div class="content2">
            <table cellspacing="0">
                <tr>
                    <td style="width:22%;vertical-align:top;border:2px solid black;">
                        <div id="tabs" style="min-width: 260px;">
                            <!-- tabs -->
                            <div class="homeNavHeader-pts"><b style="margin-left:8px;">产品系列：</b></div>
                            <ul class="css-tabs" style="height:100%;margin:0;">
                                <li><a href="#tab1" id="t1" style="overflow: hidden;" title="财通基金-耀之债期1号资产管理计划">财通基金-耀之债期1号资产管理计划</a></li>
                                <li><a href="#tab2" id="t2" style="overflow: hidden;" title="华润信托•熙金4号（耀之进取）债券投资集合资金信托计划">华润信托•熙金4号（耀之进取）债券投资集合资金信托计划</a></li>
                                <li><a href="#tab3" id="t3" style="overflow: hidden;" title="财通基金-耀之债期多策略套利资产管理计划">财通基金-耀之债期多策略套利资产管理计划</a></li>
                                <li><a href="#tab4" id="t4" style="overflow: hidden;" title="上海耀之堂庭宏观收益基金">上海耀之堂庭宏观收益基金</a></li>
                            </ul>

                        </div>
                    </td>
                    <td>
                        <div class="colorBlockV2" style="margin:-2px 8px;">
                            <!-- panes -->
                            <div class="css-panes">

                                <div id="t1">
                                    <table class="hzonth" style="border:none;">
                                        <tr>
                                            <th colspan="2" style="font-size:18px;text-align:center;padding:10px;">
                                                <b class="blueC">财通基金-耀之债期1号资产管理计划</b>
                                                <a href="#">
                                                    <img onclick="OpenProd('LP68238078')" src="~/Content/images/koidn.ico"
                                                         style="float: right; margin-right: 10px; margin-top: 7px" />
                                                </a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:12%;">产品存续期</th>
                                            <td>3年 （2013年11月-2016年11月）</td>
                                        </tr>
                                        <tr>
                                            <th>成立时间</th>
                                            <td>2013年11月6日</td>
                                        </tr>
                                        <tr>
                                            <th>开放日</th>
                                            <td>每三个月设一个开放日，允许申购、赎回（但首次申购锁定期为6个月）</td>
                                        </tr>
                                        <tr>
                                            <th>管理人(投资顾问)</th>
                                            <td>上海耀之资产管理中心（有限合伙）</td>
                                        </tr>
                                        <tr>
                                            <th>投资经理</th>
                                            <td>王影峰，熊赟</td>
                                        </tr>
                                        <tr>
                                            <th>发行通道</th>
                                            <td>财通基金管理有限公司</td>
                                        </tr>
                                        <tr>
                                            <th>经纪商</th>
                                            <td>中国国际金融有限公司; 东航期货有限责任公司</td>
                                        </tr>
                                        <tr>
                                            <th>产品规模</th>
                                            <td>不少于3000万</td>
                                        </tr>
                                        <tr>
                                            <th>投资范围</th>
                                            <td>国债期货、固定收益品种（包括国债、评级在3A及以上的信用债）、货币基金、国债ETF以及现金。</td>
                                        </tr>
                                        <tr>
                                            <th>产品费率</th>
                                            <td>
                                                管理费：1.6%
                                                托管费：0.2%
                                                退出费： 0%
                                                业绩报酬：年化回报低于3%以下无业绩报酬；超过3%以上部分投资顾问提取20%作为业绩报酬
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>适合投资人</th>
                                            <td>适合追求稳定资本回报的投资者</td>
                                        </tr>
                                        <tr>
                                            <th>最低认购金额</th>
                                            <td>100万元</td>
                                        </tr>
                                        <tr>
                                            <th>追加认购金额</th>
                                            <td>10万元的整数倍</td>
                                        </tr>

                                        <tr>
                                            <th>投资策略</th>
                                            <td>以国债期货和现券之间的期现套利、国债期货的跨期套利等低风险套利策略为主，同时通过现券投资策略提供一个较高的基础收益率；套利策略主要是国债期货合约的合理价格以及不同合约间的价差可以根据对应可交割现券的价格和资金成本计算出来。当市场由于信息滞后等原因出现了价格及价差偏离了合理范围，就存在套利机会。</td>

                                        </tr>



                                    </table>
                                </div>

                                <div id="t2">
                                    <table class="hzonth" style="border:none;">
                                        <tr>
                                            <th colspan="2" style="font-size:18px;text-align:center;padding:10px;">
                                                <b class="blueC">华润信托•熙金4号（耀之进取）债券投资集合资金信托计划</b>
                                                <a href="#">
                                                    <img onclick="OpenProd('LP68238085')" src="~/Content/images/koidn.ico"
                                                         style="float: right; margin-right: 10px; margin-top: 7px" />
                                                </a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:12%;">产品存续期</th>
                                            <td>1年</td>
                                        </tr>
                                        <tr>
                                            <th>成立时间</th>
                                            <td>2013年11月12日</td>
                                        </tr>
                                        <tr>
                                            <th>开放日</th>
                                            <td>不设开放日</td>
                                        </tr>
                                        <tr>
                                            <th>管理人(投资顾问)</th>
                                            <td>上海耀之资产管理中心（有限合伙）</td>
                                        </tr>
                                        <tr>
                                            <th>投资经理</th>
                                            <td>王影峰 </td>
                                        </tr>
                                        <tr>
                                            <th>发行通道</th>
                                            <td>华润深国投信托有限公司</td>
                                        </tr>
                                        <tr>
                                            <th>经纪商</th>
                                            <td>德邦证券有限责任公司</td>
                                        </tr>
                                        <tr>
                                            <th>产品规模</th>
                                            <td>4000万</td>
                                        </tr>
                                        <tr>
                                            <th>投资范围</th>
                                            <td>
                                                1、债券：包括但不限于在交易所/银行间上市交易的国债、中央银行票据、企业债券、公司债券、各类金融债（含次级债、混合资本债）、可转换债券（含分离交易可转债、可交换债）、银行间市场交易商协会注册发行的各类债务融资工具（如超短期融资券、短期融资券、中期票据、集合票据）、资产证券化产品（资产支持证券、资产支持票据、受益凭证等）； <br />
                                                2、货币市场工具：包括但不限于现金、银行存款、大额可转让存单（CD）、短期债券正、逆回购等； <br />
                                                3、 其它低风险的投资品种：包括但不限于分级股票/指数基金的优先级，具有确定到期日和确定预期收益率的银行理财计划以及受托人及投资顾问一致认可的其他投资品种。<br />
                                            </td>

                                        </tr>
                                        <tr>
                                            <th>产品费率</th>
                                            <td>
                                                投资顾问费：1.0%
                                                托管费：0.1%
                                                信托费：0.5%
                                                业绩报酬：年化回报低于10%以下无业绩报酬；超过10%以上部分投资顾问提取20%作为业绩报酬

                                            </td>
                                        </tr>
                                        <tr>
                                            <th>适合投资人</th>
                                            <td>适合追求稳定资本回报的投资者</td>
                                        </tr>
                                        <tr>
                                            <th>最低认购金额</th>
                                            <td>100万元</td>
                                        </tr>
                                        <tr>
                                            <th>追加认购金额</th>
                                            <td>10万元的整数倍</td>
                                        </tr>
                                        <tr>
                                            <th>投资策略</th>
                                            <td>
                                                通过配置中等期限的可质押式回购债券，来构建组合收益率较高的债券投资组合，并利用交易所回购利率平均水平较低的特点，借助回购交易适当放大组合持仓总量，以提升组合整体收益率水平。
                                                该组合以债券票息作为基础收益，适当承担风险以期获取债券价格波动带来的超额收益。如果市场收益率下行，将获得高于组合票息的收益率水平；如果市场收益率上行，组合票息能抵御债券价格波动带来的损失，损失不超过组合票息的范围内客户仍然可以获得正收益。
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                
                                <div id="t3">
                                    <table class="hzonth" style="border:none;">
                                        <tr>
                                            <th colspan="2" style="font-size:18px;text-align:center;padding:10px;">
                                                <b class="blueC">财通基金-耀之债期多策略套利资产管理计划</b>
                                                <a href="#">
                                                    <img onclick="OpenProd('LP68259646')" src="~/Content/images/koidn.ico"
                                                         style="float: right; margin-right: 10px; margin-top: 7px" />
                                                </a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:12%;">成立时间</th>
                                            <td>2014年4月4日</td>
                                        </tr>
                                        <tr>
                                            <th>产品存续期</th>
                                            <td>12个月</td>
                                        </tr>
                                        <tr>
                                            <th>产品规模</th>
                                            <td>10200万元</td>
                                        </tr>
                                        <tr>
                                            <th>杠杆结构</th>
                                            <td>优先：次级=29:5</td>
                                        </tr>
                                        <tr>
                                            <th>基金管理人</th>
                                            <td>财通基金管理有限公司</td>
                                        </tr>
                                        <tr>
                                            <th>投资顾问</th>
                                            <td>上海耀之资产管理中心（有限合伙）</td>
                                        </tr>
                                        <tr>
                                            <th>投资经理</th>
                                            <td>熊赟</td>
                                        </tr>
                                        <tr>
                                            <th>产品费率</th>
                                            <td>管理费：1.2%；托管费：0.2%； </td>
                                        </tr>
                                        <tr>
                                            <th>最低认购金额</th>
                                            <td>100万元</td>
                                        </tr>
                                        <tr>
                                            <th>追加认购金额</th>
                                            <td>1万元的整数倍</td>
                                        </tr>
                                        <tr>
                                            <th>投资范围</th>
                                            <td>国债期货、固定收益品种（包括国债、债项评级在3A及以上的信用债、债券回购等）、货币基金、国债ETF、分级基金A类份额以及现金。</td>
                                        </tr>
                                        <tr>
                                            <th>投资策略</th>
                                            <td>本资产管理计划以国债期货和现券之间的期现套利、国债期货的跨期套利等低风险套利策略为主，同时通过现券投资策略提供一个较高的基础收益率。套利策略主要依据交割现券价格与资金成本计算出国债期货合约的利率价格，捕捉价差偏离合理范围时的套利机会。</td>
                                        </tr>



                                    </table>
                                </div>
                                
                                <div id="t4">
                                    <table class="hzonth" style="border:none;">
                                        <tr>
                                            <th colspan="2" style="font-size:18px;text-align:center;padding:10px;">
                                                <b class="blueC">上海耀之堂庭宏观收益基金</b>
                                                <a href="#">
                                                    <img onclick="OpenProd('LP68271980')" src="~/Content/images/koidn.ico"
                                                         style="float: right; margin-right: 10px; margin-top: 7px" />
                                                </a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:12%;">产品存续期</th>
                                            <td>50年</td>
                                        </tr>
                                        <tr>
                                            <th>成立时间</th>
                                            <td>2014年4月21日</td>
                                        </tr>
                                        <tr>
                                            <th>开放日</th>
                                            <td>每月最后一个工作日为开放日，允许申购赎回</td>
                                        </tr>
                                        <tr>
                                            <th>管理人</th>
                                            <td>上海耀之资产管理中心（有限合伙）</td>
                                        </tr>
                                        <tr>
                                            <th>投资经理</th>
                                            <td>王小坚 </td>
                                        </tr>
                                        <tr>
                                            <th>经纪商</th>
                                            <td>招商证券股份有限公司；东航期货有限责任公司</td>
                                        </tr>
                                        <tr>
                                            <th>投资范围</th>
                                            <td>国债期货、股指期货、各种固定收益类产品（包括国债、债项评级在AA-及以上的信用债、中小企业私募债等）、货币市场基金、交易所上市的封闭式和开放式基金（包括LOF、ETF等）、债券回购、新股（包括首发和增发）以及中国证监会认可的其他投资品种。</td>
                                        </tr>
                                        <tr>
                                            <th>产品费率</th>
                                            <td>管理费：1.0%<br />
                                            托管费：0.15%<br />
                                            业绩报酬：年化回报低于6%以下无业绩报酬；超过6%以上部分投资顾问提取20%作为业绩报酬
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>适合投资人</th>
                                            <td>适合追求稳定资本回报的投资者</td>
                                        </tr>
                                        <tr>
                                            <th>最低认购金额</th>
                                            <td>100万元</td>
                                        </tr>
                                        <tr>
                                            <th>追加认购金额</th>
                                            <td>1万元的整数倍</td>
                                        </tr>
                                        <tr>
                                            <th>投资策略</th>
                                            <td>通过构建合中短期限的债券组合来获得稳定的收益，同时通过对宏观形势的研究变化，判断利率与股票市场的走势，通过国债期货等金融衍生品进行多空方向的投资操作来增加组合的收益，利用ETF基金增强不同比例资产的组合管理。结合债券组合相对稳定的收益，加上对宏观经济波动的判断，以期获得超额的收益。</td>
                                        </tr>


                                    </table>
                                </div>

                            </div>

                            <div style="color:#5b5b5b;padding:12px;">
                                <br />
                                <b style="font-size:18px;">免责声明:</b>
                                <br />
                                <p>
                                    本文件仅供参考，既非针对买卖任何投资或其他特定产品或服务之要约、要约邀请或推介。本文所载的所有信息和观点来自我们认为可靠和诚实的公开来源, 但我们对其准确性和完整性不作任何明示或暗示的陈述或保证。本文件中的所有资料和观点以及提示的价格，随时均可能更改，而本公司不会另行通知。资产种类、资产配置和投资工具仅供示范之用。在任何时点，上海耀之资产管理中心（有限合伙）可能持有相关证券的头寸，或者进行了自营或代理交易，或者向相关证券的发行人或其关联公司提供了咨询或其它服务。

                                    由于某些证券的市场流动性差，有些投资可能无法随时兑现，因此难以量化投资的价值和识别您所面临的风险。一项投资过去的业绩并不预示其未来的表现。有些投资的价格可能突然大幅度下跌。在兑现时，您的收入可能少于您的投入或者您不得不付出更多。此外，业绩信息系基于模拟和/或仅供讲解说明之用。

                                    我们建议您在投资于本文件所述之任何产品之前，寻求法律、监管、税务、财务及会计方面的意见。本公司不提供税务建议。按照中国法律的规定，交易某种产品及服务的所得款项，在可适用的范围内，会被预提与扣除税金或其他收费。投资者将自行负担所有此类税款或费用。本公司有权在向投资者支付款项时扣除与此种税款或费用相等的款项，将其保留在投资者的账户中，或付至中华人民共和国有关国家机关。

                                    未经上海耀之资产管理中心（有限合伙）事先批准，不得复制及/或散播本文件。

                                </p>
                                <br />
                                <p>
                                    上海耀之资产管理中心（有限合伙）    地址：上海市浦东新区丁香路1066弄8号  电话：021-50473781           邮箱：info@yzamc.com
                                </p>

                            </div>
                        </div>



                        <!-- activate tabs with JavaScript -->
                        <script>
        $(function () {
            // :first selector is optional if you have only one tabs on the page
            $(".css-tabs").tabs(".css-panes > div");
            JET.init({ ID: "VAVWeb"});
        });

        function OpenProd(prodric) {
            var data = {
                target: "popup",
                // open a popup window
                location: {
                    x: 200,
                    y: 100,
                    width: 600,
                    height: 400
                },
                name: "Quote Object",
                // open a Quote Object
                entities: [
                    {
                        type: "COMP",
                        "RIC": prodric
                    }
                ]
            };
            JET.navigate(data);

        }
                        </script>
                        <div style="clear:both;"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>