<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <add key="CnECon"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.24)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=cne;Password=cne;"/>
    <add key="BondDBCon"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.24)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=bonddb;Password=bonddb;"/>
    <add key="mergeData"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.24)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=cne;Password=cne;"/>
    <add key="EJVCon" value="Driver={Adaptive Server Enterprise};server=10.185.132.40;port=4074;uid=reporter;password=reporter;"/>
    <add key="MarketCon"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.24)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));USER ID=openmarket;Password=openmarket;"/>
    <add key="CnEServer" value="apac.mail.erf.thomson.com"/>
    <add key="CnEPort" value="993"/>
    <add key="CnEUsingSsl" value="true"/>
    <add key="CnEUserName" value="TEN\UC206000"/>
    <add key="CnEPassWord" value="Welcome77"/>
    <add key="TROilUserName" value="TEN\UC206000"/>
    <add key="TROilPassWord" value="Welcome77"/>
    <add key="MySqlProxyAddress" value="164.179.108.25"/>
    <add key="MySqlProxyPort" value="8118"/>
    <add key="CnEFtpFilePath" value="C:\DataFeedFtp\dataexchange\"/>
    <add key="OilChemSavingPath" value="C:\DataFeedApp\Scheduler\CnE\OilchemData\"/>
    <add key="OilChemSenderFilter" value="pengt@oilchem.net"/>
    <add key="OilChemTitleFilter" value="地炼篇"/>
    <add key="reportConnstr"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.24)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=filedb;Password=filedb;Unicode=True;"/>
    <add key="schedulerLogConnstr"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.24)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=scheduler;Password=scheduler;"/>
   
    <add key="fetchDate" value="10"/>
    <add key="smmurl" value="http://www.smm.cn/reuters.php"/>
    <add key="orderKey" value="7"/>
    <add key="CoffedSavingPath" value="C:\DataFeedApp\Scheduler\CnE\CoffedData\"/>
    <add key="CoffedSenderFilter" value="wjw@cofeed.com"/>
    <add key="CoffedTitleFilter" value="COFEED DATA FOR THOMSON REUTERS"/>
    <!--CoffedProductEmailConfig-->
    <add key="CoffedProductSavingPath" value="C:\DataFeedApp\Scheduler\CnE\CoffedProductData\"/>
    <add key="CoffedProductSenderFilter" value="2411780520@qq.com|qingtianshanbu@163.com|publish@cofeed.com"/>
    <!--CoffedProductEmailConfig-->
    <!--longzhong excel config-->
    <add key="LongZhongSavingPath" value="C:\DataFeedApp\Scheduler\CnE\LongzhongExcelData\"/>
    <add key="LongZhongSenderFilter" value="@oilchem.net"/>
    <add key="LongZhongTitleFilter" value="隆众石化网产品产量"/>
    <!--longzhong excel config-->
    <!--custeel excel config-->
    <add key="CusteelExcelSavingPath" value="C:\DataFeedApp\Scheduler\CnE\CusteelExcelData\"/>
    <add key="CusteelExcelSenderFilter" value="\w+\.*\w*@custeel.com"/>
    <add key="CusteelExcelTitleFilter" value=""/>
    <!--custeel excel config-->
    <!--tr oil excel config-->
    <add key="TROilInventoryExcelSavingPath" value="C:\DataFeedApp\Scheduler\CnE\TROilInventoryExcelData\"/>
    <add key="TROilInventoryExcelSenderFilter" value="adam.rose@thomsonreuters.com"/>
    <add key="TROilInventoryExcelTitleFilter" value=""/>
    <!--tr oil excel config-->
    <!--zcx config-->
    <add key="ZCXConnStr"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.24)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=cne_zcx;Password=cne_zcx;"/>
    <add key="ZCXDBConnStr" value="server=10.35.63.10;database=ZCX;uid=sa;password=p@ssw0rd"/>
    <!--zcx config-->
    <!--boc config-->
    <add key="BOC_URL" value="http://www.bankofchina.com/fimarkets/foreignx/"/>
    <!--boc config-->
    <add key="ReportSavingPath" value="C:\DataFeedApp\Scheduler\CnE\ReportData\"/>
    <add key="ReportSenderFilter" value=""/>
    <add key="ReportTitleFilter" value=""/>
    <add key="CnEFanyaUrl" value="http://118.145.29.80:8080/transpond/getmarket"/>
    <add key="ShanXiUrl" value="http://www.sxcoal.com/database/WebService_Data.asmx?op=GetData_LutouDetail"/>
    <add key="ShanXiPass" value="5C36F7F2C3455CCDC83C25"/>
    <add key="Sail_Traval_url" value="http://hq.ssefc.com/hq/api_data.php"/>
    <add key="ProductUrl" value="http://api.lzicp.com:2010/price/getProduct/{type}.do"/>
    <add key="PriceUrl" value="http://api.lzicp.com:2010/price/getPrice/{type}.do"/>
    <add key="fx168user" value="Reuters"/>
    <add key="fx168password" value="Reutersfx!^*down20130619"/>
    <add key="fx168ftpUrl" value="ftp://ftp.fx168.com/"/>
    <add key="LJSuser" value="LT"/>
    <add key="LJSpassword" value="1234@qwer"/>
    <add key="LJSftpUrl" value="ftp://LT@210.13.70.66/LJS/LJS/table/"/>
    <add key="LJSSavePath" value="C:\DataFeedApp\Scheduler\CnE\LJS\"/>
    <add key="LJSCon" value="server=10.35.63.10;database=LuFax;uid=sa;password=p@ssw0rd;"/>
    <add key="NationaSavingPath" value="C:\DataFeedApp\Scheduler\CnE\Nationa\"/>
    <add key="NationaSenderFilter" value="wangxf@stats.gov.cn"/>
    <add key="NationaTitleFilter" value="工业产品产量"/>
    <add key="geniusftpUrl" value="ftp://10.35.63.72/genius/"/>
    <add key="zcxftpUrl" value="ftp://10.35.63.72/zcx"/>
    <add key="fileftpuser" value="ftp"/>
    <add key="fileftppassword" value="p@ssw0rd"/>
    <add key="CnEConFileData" value="server=10.35.63.10;database=CMAFileDB;uid=sa;password=p@ssw0rd"/>
    <add key="Genius_Hist" value="server=10.35.63.10;database=Genius_Hist;uid=sa;password=p@ssw0rd"/>
    <add key="ChinaSecuritiesTenUrl" value="http://xinpi.cs.com.cn/csjgonggaotools/upload/news_group/1.xml"/>
    <add key="ChinaSecuritiesNoticeUrl" value="http://xinpi.cs.com.cn/csjgonggaotools/upload/news2_group/1.xml"/>
    <add key="VAVConnStr"
      value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.24)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=cma;Password=cma;"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="CnEEntities" connectionString="metadata=res://*/CnE.csdl|res://*/CnE.ssdl|res://*/CnE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.35.63.10;initial catalog=CnE;user id=cma;password=p@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CnEEntities"
      connectionString="metadata=res://*/CnEEntities.csdl|res://*/CnEEntities.ssdl|res://*/CnEEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=10.35.63.24:1521/CMADB;password=scheduler;persist security info=True;user id=SCHEDULER&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd">
      <object name="exampleJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.ExampleJob, CNE.Scheduler"/>
        <!-- We can inject values throgh JobDataMap -->
        <property name="JobDataAsMap">
          <dictionary>
            <entry key="UserName" value="Alexandre"/>
          </dictionary>
        </property>
      </object>
      <object name="EjvBondSyncJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.EjvBondSyncJob, CNE.Scheduler"/>
      </object>
      <object name="EjvDsosSyncJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.EjvDsosSyncJob, CNE.Scheduler"/>
      </object>
      <object name="MySteelSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.MySteelJob, CNE.Scheduler"/>
      </object>
      <object name="OpenMarketDataSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.OpenMarketData, CNE.Scheduler"/>
      </object>
      <object name="NewListBondSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.NewListBondSync, CNE.Scheduler"/>
      </object>
      <object name="MarketDataSync" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.MarketDataSync, CNE.Scheduler"/>
      </object>
      <object name="MySteelDownLoadJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.MySteelDownLoad, CNE.Scheduler"/>
      </object>
      <object name="FanyaJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.FanyaJob, CNE.Scheduler"/>
      </object>
      <object name="OilchemJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.OilchemJob, CNE.Scheduler"/>
      </object>
      <object name="SmmJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.SmmJob, CNE.Scheduler"/>
      </object>
      <object name="ChinaJciJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.ChinaJciJob, CNE.Scheduler"/>
      </object>
      <object name="CusteelDataJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.CusteelDataJob, CNE.Scheduler"/>
      </object>
      <object name="NationalBureauJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.NationalBureauJob, CNE.Scheduler"/>
      </object>
      <object name="FxNewsJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.FxNewsJob, CNE.Scheduler"/>
      </object>
      <!-- LongZhongJob-->
      <object name="LongZhongJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.LongZhongJobContext, CNE.Scheduler"/>
      </object>
      <!-- LongZhongJob-->
      <object name="MergeDataJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.MergeDataJob, CNE.Scheduler"/>
      </object>
      <!-- coffedjob-->
      <object name="coffedjob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.CoffedDataJob, CNE.Scheduler"/>
      </object>
      <!-- coffedjob-->
      <!--ClearHistoryDataJob-->
      <object name="ClearHistoryDataJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.ClearHistoryDataJob, CNE.Scheduler"/>
      </object>
      <!--ClearHistoryDataJob-->
      <!--longzhong excel job-->
      <object name="LongZhongExcelJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.LongZhongExcelJob, CNE.Scheduler"/>
      </object>
      <!--end of longzhong excel job-->
      <!--custeel excel job-->
      <object name="CusteelExcelDataJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.CusteelExcelDataJob, CNE.Scheduler"/>
      </object>
      <!--end of custeel excel job-->
      <!--tr oil inventory excel job-->
      <object name="TROilInventoryExcelDataJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.TROilInventoryExcelDataJob, CNE.Scheduler"/>
      </object>
      <!--tr oil inventory excel job-->
      <!--boc pdf-->
      <object name="BOCCrawler2PDFJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.BOCCrawler2PDFJob, CNE.Scheduler"/>
      </object>
      <!-- boc pdf-->
      <!--zcx report-->
      <object name="ZCXRR2SSAndFileDBJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.ZCXRR2SSAndFileDBJob, CNE.Scheduler"/>
      </object>
      <!--zcx report-->
      <!-- Reportjob-->
      <object name="Email2SSJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.Email2SSJob, CNE.Scheduler"/>
      </object>
      <!-- Reportjob-->
      <!--FanYaExponentJob-->
      <object name="FanYaExponentJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.FanYaExponentJob, CNE.Scheduler"/>
      </object>
      <!--FanYaExponentJob-->
      <!-- FileFTPData-->
      <object name="FileFTPDataJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.GetFtpFileDataJob, CNE.Scheduler"/>
      </object>
      <!-- FileFTPData-->
      <object name="CofeedProductJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.CofeedProductJob, CNE.Scheduler"/>
      </object>
      <!-- ChinaJciFtpDownLoad-->
      <object name="FtpTimingDownLoadJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.FtpTimingDownLoad, CNE.Scheduler"/>
      </object>
      <!-- ChinaJciFtpDownLoad-->
      <!-- Genius2SSJob-->
      <object name="Genius2SSJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.Genius2SSJob, CNE.Scheduler"/>
      </object>
      <!-- ZCX2SSJob-->
      <object name="ZCX2SSJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.ZCX2SSJob, CNE.Scheduler"/>
      </object>
      <!-- DM12DM2Job-->
      <object name="DM12DM2Job" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.DM12DM2Job, CNE.Scheduler"/>
      </object>
      <!-- MonitorJob-->
      <object name="MonitorJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.MonitorJob, CNE.Scheduler"/>
      </object>
      <!-- MonitorJob-->
      <!-- Sail_Traval-->
      <object name="Sail_Traval" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.Sail_Traval_SH_DataJob, CNE.Scheduler"/>
      </object>
      <!-- Sail_Traval-->
      <!-- ChinaSecurities-->
      <object name="ChinaSecuritiesJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.ChinaSecuritiesJob, CNE.Scheduler"/>
      </object>
      <!-- ChinaSecurities-->
      <!-- CneMigration-->
      <object name="CneMigrationJob" type="Spring.Scheduling.Quartz.JobDetailObject, Spring.Scheduling.Quartz">
        <property name="JobType" value="CNE.Scheduler.Jobs.CneMigration, CNE.Scheduler"/>
      </object>
      <!-- CneMigration-->
      <object id="simpleTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="exampleJob"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="5s"/>
        <!-- repeat every 5 seconds -->
        <property name="repeatInterval" value="60s"/>
      </object>
      <!--FanYaExponentJob-->
      <object id="FanYaExponentJobTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="FanYaExponentJob"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="1s"/>
        <!-- repeat every 5 seconds -->
        <property name="repeatInterval" value="5h"/>
      </object>
      <!--FanYaExponentJob-->
      <object id="my_steel_1" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="MySteelSync"/>
        <!-- run every day at 18:30 PM  -->
        <property name="CronExpressionString" value="0 00 10 * * ?"/>
      </object>
      <object id="OpenMarketDataSyncTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="OpenMarketDataSync"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="40s"/>
        <!-- repeat every 5 seconds -->
        <property name="repeatInterval" value="1h"/>
      </object>
      <object id="NewListBondSyncTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="NewListBondSync"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="0s"/>
        <!-- repeat every 5 seconds -->
        <property name="repeatInterval" value="3h"/>
      </object>
      <object id="MarketDataSyncTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="MarketDataSync"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="0s"/>
        <!-- repeat every 5 seconds -->
        <property name="repeatInterval" value="6h"/>
      </object>
      <object id="my_steel_2" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="MySteelSync"/>
        <!-- run every day at 19:50 PM  -->
        <property name="CronExpressionString" value="0 50 14 * * ?"/>
      </object>
      <object id="my_steel_3" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="MySteelSync"/>
        <!-- run every day at 20:10 PM  -->
        <property name="CronExpressionString" value="0 10 17 * * ?"/>
      </object>
      <object id="my_steel_4" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="MySteelSync"/>
        <!-- run every day at 20:30 PM  -->
        <property name="CronExpressionString" value="0 30 19 * * ?"/>
      </object>
      <object id="my_steel_download" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <!-- see the example of method invoking job above -->
        <property name="jobDetail" ref="MySteelDownLoadJob"/>
        <!-- run every day at 20:50 PM  -->
        <property name="CronExpressionString" value="0 50 20 * * ?"/>
      </object>
      <object id="TriggerOilchem" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="OilchemJob"/>
        <!-- run every day at 05:00 PM  -->
        <property name="CronExpressionString" value="0 00 17 * * ?"/>
      </object>
      <object id="TriggerSmm" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="SmmJob"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="30s"/>
        <!-- repeat every 10 min -->
        <property name="repeatInterval" value="1h"/>
      </object>
      <object id="TriggerChinaJci" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="ChinaJciJob"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="70s"/>
        <!-- repeat every 1 h -->
        <property name="repeatInterval" value="2h"/>
      </object>
      <object id="TriggerCusteelData" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="CusteelDataJob"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="100s"/>
        <!-- repeat every 2 h -->
        <property name="repeatInterval" value="9h"/>
      </object>
      <object id="TriggerNationalBureau" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="NationalBureauJob"/>
        <!-- run every day at 21:30 PM  -->
        <property name="CronExpressionString" value="0 30 21 * * ?"/>
      </object>
      <object id="TriggerFxNews" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="FxNewsJob"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="120s"/>
        <!-- repeat every 10 min -->
        <property name="repeatInterval" value="1h"/>
      </object>
      <!-- LongZhong Trigger -->
      <object id="LongZhongTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="LongZhongJob"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="180s"/>
        <!-- repeat every 10 min -->
        <property name="repeatInterval" value="4h"/>
      </object>
      <!--  LongZhong Trigger -->
      <object id="MergeDataTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="MergeDataJob"/>
        <!-- 5 seconds -->
        <property name="startDelay" value="1s"/>
        <!-- repeat every 10 min -->
        <property name="repeatInterval" value="4h"/>
      </object>
      <!--coffedjob-->
      <object id="CoffedjobTrigger" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="coffedjob"/>
        <!-- run every day at 7:30 PM -->
        <property name="CronExpressionString" value="0 15 18 * * ?"/>
      </object>
      <!--coffedjob-->
      <!--longzhong excel trigger-->
      <object id="LongZhongExcelTrigger" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="LongZhongExcelJob"/>
        <!-- run every day at 22:00 PM -->
        <property name="CronExpressionString" value="0 10 22 * * ?"/>
      </object>
      <!--longzhong excel trigger-->
      <!--Custeel excel trigger-->
      <object id="CusteelExcelTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="CusteelExcelDataJob"/>
        <!-- run every day at 22:00 PM -->
        <!--<property name="CronExpressionString" value="0 10 22 * * ?" />-->
        <!-- 5 seconds -->
        <property name="startDelay" value="400s"/>
        <property name="repeatInterval" value="23h"/>
      </object>
      <!--Custeel excel trigger-->
      <!--TR Oil Inventory excel trigger-->
      <object id="TROilInventoryExcelTrigger" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="TROilInventoryExcelDataJob"/>
        <!-- run every day at 22:00 PM -->
        <property name="CronExpressionString" value="0 00 1 * * ?"/>
      </object>
      <!--TR Oil Inventory excel trigge-->
      <!--Reportjob-->
      <object id="Email2SSTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="Email2SSJob"/>
        <!-- run every day at 7:30 PM -->
        <property name="startDelay" value="160s"/>
        <!-- repeat every 10 min -->
        <property name="repeatInterval" value="30m"/>
      </object>
      <!--Reportjob-->
      <!--boc-->
      <object id="BOCCrawler2PDFTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="BOCCrawler2PDFJob"/>
        <!-- 2 seconds -->
        <property name="startDelay" value="2s"/>
        <!-- repeat every 10 m -->
        <property name="repeatInterval" value="20m"/>
      </object>
      <!--boc-->
      <!--zcx report-->
      <object id="ZCXRR2SSAndFileDB_Trigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="ZCXRR2SSAndFileDBJob"/>
        <!-- 2 seconds -->
        <property name="startDelay" value="2s"/>
        <!-- repeat every 10 h -->
        <property name="repeatInterval" value="10h"/>
      </object>
      <!--zcx report-->
      <!--FileFTPDataJob-->
      <object id="FileFtpjobTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="FileFTPDataJob"/>
        <!-- run every day at 7:30 PM -->
        <property name="startDelay" value="300s"/>
        <!-- repeat every 10 min -->
        <property name="repeatInterval" value="4h"/>
      </object>
      <!--FileFTPDataJob-->
      <!--ChinaJciFtpDownLoadJob-->
      <object id="FtpTimingDownLoadTrigger" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="FtpTimingDownLoadJob"/>
        <!-- run every day at 23:00 PM -->
        <property name="CronExpressionString" value="0 00 23 * * ?"/>
      </object>
      <!--ChinaJciFtpDownLoadJob-->
      <!--Genius2SSJobTrigger-->
      <object id="Genius2SSTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="Genius2SSJob"/>
        <property name="startDelay" value="1s"/>
        <property name="repeatInterval" value="2h"/>
      </object>
      <!--ZCX2SSJobTrigger-->
      <object id="ZCX2SSTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="ZCX2SSJob"/>
        <property name="startDelay" value="1s"/>
        <property name="repeatInterval" value="6h"/>
      </object>
      <!--DM12DM2Trigger-->
      <object id="DM12DM2Trigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="DM12DM2Job"/>
        <property name="startDelay" value="1s"/>
        <property name="repeatInterval" value="6h"/>
      </object>
      <!--MonitorTrigger-->
      <object id="MonitorTrigger" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="MonitorJob"/>
        <!-- run every day at 23:30 PM -->
        <property name="CronExpressionString" value="0 30 23 * * ?"/>
      </object>
      <!--MonitorTrigger-->
      <object id="CofeedProductJobTrigger1" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="CofeedProductJob"/>
        <property name="CronExpressionString" value="0 30 22 * * ?"/>
      </object>
      <object id="CofeedProductJobTrigger2" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="CofeedProductJob"/>
        <property name="CronExpressionString" value="0 00 08 * * ?"/>
      </object>
      <object id="CofeedProductJobTrigger3" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="CofeedProductJob"/>
        <property name="CronExpressionString" value="0 00 16 * * ?"/>
      </object>
      <!--ClearHistoryDataJob-->
      <object id="ClearHistoryDataJobTrigger" type="Spring.Scheduling.Quartz.CronTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="ClearHistoryDataJob"/>
        <property name="CronExpressionString" value="0 30 2 * * ?"/>
      </object>
      <!--ClearHistoryDataJob-->
      <object id="TriggerEjvBond" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="EjvBondSyncJob"/>
        <!-- 0 seconds -->
        <property name="startDelay" value="0s"/>
        <!-- repeat every 15 m -->
        <property name="repeatInterval" value="3h"/>
      </object>
      <object id="TriggerEjvDsos" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="EjvDsosSyncJob"/>
        <!-- 0 seconds -->
        <property name="startDelay" value="30s"/>
        <!-- repeat every 15 m -->
        <property name="repeatInterval" value="4h"/>
      </object>
      <object id="TriggerChinaSecurities" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="jobDetail" ref="ChinaSecuritiesJob"/>
        <!-- 0 seconds -->
        <property name="startDelay" value="0s"/>
        <!-- repeat every 15 m -->
        <property name="repeatInterval" value="1h"/>
      </object>
      <object id="CNEScheduler" type="Spring.Scheduling.Quartz.SchedulerFactoryObject, Spring.Scheduling.Quartz">
        <property name="QuartzProperties">
          <dictionary>
            <entry key="quartz.scheduler.instanceName" value="CNEScheduler"/>
            <!--threadPool-->
            <entry key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
            <entry key="quartz.threadPool.threadCount" value="10"/>
            <entry key="quartz.threadPool.threadPriority" value="Normal"/>
            <entry key="quartz.jobStore.misfireThreshold" value="60000"/>
          </dictionary>
        </property>
        <property name="AutoStartup" value="false"/>
        <property name="triggers">
          <list>
            <!--<ref object="BOCCrawler2PDFTrigger"/>-->
            <!--<ref object="TriggerEjvBond"/>-->
            <ref object="TriggerEjvDsos"/>
            <ref object="Email2SSTrigger"/>
            <ref object="Genius2SSTrigger"/>
            <ref object="ZCX2SSTrigger"/>
            <ref object="OpenMarketDataSyncTrigger"/>
            <!--<ref object="my_steel_download"/>-->
            <ref object="MarketDataSyncTrigger"/>
            <ref object="CoffedjobTrigger"/>
            <ref object="TriggerChinaJci"/>
            <ref object="FtpTimingDownLoadTrigger"/>
            <ref object="TriggerSmm"/>
            <!--<ref object="my_steel_1"/>
            <ref object="my_steel_2"/>
            <ref object="my_steel_3"/>
            <ref object="my_steel_4"/>-->
            <ref object="TriggerCusteelData"/>
            <ref object="LongZhongTrigger"/>
            <ref object="CofeedProductJobTrigger1"/>
            <ref object="CofeedProductJobTrigger2"/>
            <ref object="CofeedProductJobTrigger3"/>
            <ref object="LongZhongExcelTrigger"/>
            <ref object="TriggerFxNews"/>
            <ref object="TriggerChinaSecurities"/>
            <ref object="TROilInventoryExcelTrigger"/>
            <ref object="TriggerNationalBureau"/>
            <ref object="CusteelExcelTrigger"/>
            <ref object="TriggerOilchem"/>
            <ref object="NewListBondSyncTrigger"/>
          </list>
        </property>
      </object>
    </objects>
  </spring>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="ErrorFileAppender" type="log4net.Appender.FileAppender">
      <file value="Log\log-error.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="DebugFileAppender" type="log4net.Appender.FileAppender">
      <file value="Log\log-debug.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="ErrorFileAppender"/>
    </root>
    <logger name="CNE">
      <level value="DEBUG"/>
      <appender-ref ref="DebugFileAppender"/>
    </logger>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="web_dataSoap" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:30:00" sendTimeout="00:20:00" allowCookies="false"
          bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8"
          useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding messageEncoding="Mtom" name="DataCenterMTOMVerifyServiceImplServiceSoapBinding" closeTimeout="00:25:00" openTimeout="00:30:00"
          receiveTimeout="00:25:00" sendTimeout="00:25:00" bypassProxyOnLocal="false" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          maxBufferPoolSize="2147483647" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding name="StorageServiceImplServiceSoapBinding" messageEncoding="Mtom" maxBufferSize="64000000" maxReceivedMessageSize="64000000"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="web_dataSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.sxcoal.com/database/WebService_Data.asmx" binding="basicHttpBinding" bindingConfiguration="web_dataSoap"
        contract="SXCoal.web_dataSoap" name="web_dataSoap"/>
      <endpoint address="http://www.sxcoal.com/database/WebService_Data.asmx" binding="customBinding" bindingConfiguration="web_dataSoap12"
        contract="SXCoal.web_dataSoap" name="web_dataSoap12"/>
      <endpoint address="http://db.custeel.com/services/dataCenterMTOMVerifyService" binding="basicHttpBinding"
        bindingConfiguration="DataCenterMTOMVerifyServiceImplServiceSoapBinding" contract="CenterService.DataCenterMTOMVerifyService"
        name="DataCenterMTOMVerifyServiceImplPort"/>
      <endpoint address="http://10.35.63.26:8080/storage/FileStorgeService" binding="basicHttpBinding"
        bindingConfiguration="StorageServiceImplServiceSoapBinding" contract="FileStorgeService.StorageService" name="StorageServiceImplPort"/>
    </client>
  </system.serviceModel>
<system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
          type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<publisherPolicy apply="no"/>
<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
</dataSources>
</version>
</oracle.manageddataaccess.client>
</configuration>