<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CnECon" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.25)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=cne;Password=cne;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="BondDBCon" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.25)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=bonddb;Password=bonddb;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="mergeData" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.25)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=cne;Password=cne;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="reportConnstr" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.25)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=filedb;Password=filedb;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="schedulerLogConnstr" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.25)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=scheduler;Password=scheduler;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CnEConFileData" value="server=10.35.63.7;database=CMAFileDB;uid=sa;password=p@ssw0rd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="MarketCon" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.25)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));USER ID=openmarket;Password=openmarket;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="ZCXConnStr" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.25)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=cne_zcx;Password=cne_zcx;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="VAVConnStr" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.35.63.25)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME = CMADB)));User Id=cma;Password=cma;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
  </appSettings>
  <connectionStrings>
    <add name="VAVEntities" connectionString="metadata=res://*/VAVTools.csdl|res://*/VAVTools.ssdl|res://*/VAVTools.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.35.63.7;initial catalog=VAV;user id=sa;password=p@ssw0rd;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CnEEntities" connectionString="metadata=res://*/CnEEntities.csdl|res://*/CnEEntities.ssdl|res://*/CnEEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=10.35.63.25:1521/CMADB;password=scheduler;persist security info=True;user id=SCHEDULER&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <log4net>
    <appender name="InfoMailAppender" type="CNE.Scheduler.HtmlSmtpAppender, CNE.Scheduler" xdt:Transform="InsertBefore(/configuration/log4net/root)">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <to value="shuaishuaiwang1@thomsonreuters.com" />
      <from value="Alpha.Scheduler.OracleDB.CnE@thomsonreuters.com" />
      <subject value="[Scheduler] [25(Alpha)-OracleDB] Scheduler Job Successed!" />
      <smtpHost value="mailhub.tfn.com"/>
      <port value="25"/>
      <bufferSize value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>
    <appender name="InfoMailAppender5" type="CNE.Scheduler.HtmlSmtpAppender, CNE.Scheduler" xdt:Transform="InsertBefore(/configuration/log4net/root)">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <to value="shuaishuaiwang1@thomsonreuters.com" />
      <from value="scheduler.MonitorOracleDB.CnE@thomsonreuters.com" />
      <subject value="[Scheduler] [Monitor-25(Alpha)-OracleDB] Scheduler Job Successed!" />
      <smtpHost value="mailhub.tfn.com"/>
      <port value="25"/>
      <bufferSize value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>

    <appender name="ErrorMailAppender" type="CNE.Scheduler.HtmlSmtpAppender, CNE.Scheduler" xdt:Transform="InsertBefore(/configuration/log4net/root)">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <to value="shuaishuaiwang1@thomsonreuters.com" />
      <from value="Alpha.Scheduler.OracleDB.CnE@thomsonreuters.com" />
      <subject value="[Scheduler] [25(Alpha)-OracleDB] Scheduler Job Failed!" />
      <smtpHost value="mailhub.tfn.com"/>
      <port value="25"/>
      <bufferSize value="1" />
      <priority value="High"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>
    <appender name="ErrorMailAppender5" type="CNE.Scheduler.HtmlSmtpAppender, CNE.Scheduler" xdt:Transform="InsertBefore(/configuration/log4net/root)">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <to value="shuaishuaiwang1@thomsonreuters.com" />
      <from value="scheduler.MonitorOracleDB.CnE@thomsonreuters.com" />
      <subject value="[Scheduler] [Monitor-25(Alpha)-OracleDB] Scheduler Job Failed!" />
      <smtpHost value="mailhub.tfn.com"/>
      <port value="25"/>
      <bufferSize value="1" />
      <priority value="High"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>
    <appender name="InfoMailAppender5" type="CNE.Scheduler.HtmlSmtpAppender, CNE.Scheduler" xdt:Transform="InsertBefore(/configuration/log4net/root)">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <to value="shuaishuaiwang1@thomsonreuters.com" />
      <from value="scheduler.Monitor.CnE@thomsonreuters.com" />
      <subject value="[Scheduler] [Monitor-CnE] Scheduler Job Successed!" />
      <smtpHost value="mailhub.tfn.com"/>
      <port value="25"/>
      <bufferSize value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>
    <appender name="ErrorMailAppender5" type="CNE.Scheduler.HtmlSmtpAppender, CNE.Scheduler" xdt:Transform="InsertBefore(/configuration/log4net/root)">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <to value="shuaishuaiwang1@thomsonreuters.com" />
      <from value="scheduler.Monitor.CnE@thomsonreuters.com" />
      <subject value="[Scheduler] [Monitor-CnE] Scheduler Job Failed!" />
      <smtpHost value="mailhub.tfn.com"/>
      <port value="25"/>
      <bufferSize value="1" />
      <priority value="High"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>
    <!-- end of xin zhang maill address -->
    <logger name="CNEScheduler" xdt:Transform="Insert">
      <level value="INFO" />
      <appender-ref ref="InfoMailAppender"/>
      <appender-ref ref="ErrorMailAppender"/>
    </logger>
    <logger name="MonitorScheduler" xdt:Transform="Insert">
      <level value="INFO" />
      <appender-ref ref="InfoMailAppender5"/>
      <appender-ref ref="ErrorMailAppender5"/>
    </logger>

  </log4net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StorageServiceImplServiceSoapBinding" messageEncoding="Mtom" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.35.63.27:8080/storage/FileStorgeService" binding="basicHttpBinding" bindingConfiguration="StorageServiceImplServiceSoapBinding" contract="FileStorgeService.StorageService" name="StorageServiceImplPort" />
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>

</configuration>