<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StorageServiceImplServiceSoapBinding" messageEncoding="Mtom" maxReceivedMessageSize="640000000"/>
                <binding name="StorageServiceImplServiceSoapBinding1" messageEncoding="Mtom" maxReceivedMessageSize="640000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.35.63.28:8080/storage/FileStorgeService"
                binding="basicHttpBinding" bindingConfiguration="StorageServiceImplServiceSoapBinding"
                contract="IME_SS.StorageService" name="StorageServiceImplPort" />
            <endpoint address="http://10.35.63.201:8080/storage/FileStorgeService"
                binding="basicHttpBinding" bindingConfiguration="StorageServiceImplServiceSoapBinding1"
                contract="PROD_SS.StorageService" name="StorageServiceImplPort1" />
        </client>
    </system.serviceModel>
</configuration>